USE [master]
GO
/****** Object:  Database [CREDIT_CARD_TRANSACTIONS]    Script Date: 12/26/2024 12:00:58 AM ******/
CREATE DATABASE [CREDIT_CARD_TRANSACTIONS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CREDIT_CARD_TRANSACTIONS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CREDIT_CARD_TRANSACTIONS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CREDIT_CARD_TRANSACTIONS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CREDIT_CARD_TRANSACTIONS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CREDIT_CARD_TRANSACTIONS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CREDIT_CARD_TRANSACTIONS]
GO
/****** Object:  Table [dbo].[TRANSACTIONS]    Script Date: 12/26/2024 12:00:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACTIONS](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Card] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[Month] [int] NOT NULL,
	[Day] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Time] [time](7) NOT NULL,
	[AmountUSD] [float] NOT NULL,
	[AmountVND] [float] NOT NULL,
	[UseChip] [nvarchar](50) NOT NULL,
	[MerchantName] [nvarchar](255) NOT NULL,
	[MerchantCity] [nvarchar](255) NOT NULL,
	[MerchantState] [nvarchar](50) NOT NULL,
	[ZipCode] [float] NULL,
	[MCC] [int] NULL,
	[Errors] [nvarchar](255) NULL,
	[IsFraud] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TRANSACTIONS] ON 

INSERT [dbo].[TRANSACTIONS] ([TransactionID], [UserID], [Card], [Year], [Month], [Day], [Date], [Time], [AmountUSD], [AmountVND], [UseChip], [MerchantName], [MerchantCity], [MerchantState], [ZipCode], [MCC], [Errors], [IsFraud]) VALUES (58, 0, 0, 2002, 11, 7, CAST(N'2002-07-11' AS Date), CAST(N'06:08:00' AS Time), 140.86, 3584788.71, N'Swipe Transaction', N'-727612092139916043', N'Monterey Park', N'CA', 91754, 5411, N'\NaN\""', N'No')
INSERT [dbo].[TRANSACTIONS] ([TransactionID], [UserID], [Card], [Year], [Month], [Day], [Date], [Time], [AmountUSD], [AmountVND], [UseChip], [MerchantName], [MerchantCity], [MerchantState], [ZipCode], [MCC], [Errors], [IsFraud]) VALUES (59, 0, 0, 2002, 11, 7, CAST(N'2002-07-11' AS Date), CAST(N'06:50:00' AS Time), 116.86, 2974005.46, N'Swipe Transaction', N'1913477460590765860', N'La Verne', N'CA', 91750, 5300, N'\NaN\""', N'No')
INSERT [dbo].[TRANSACTIONS] ([TransactionID], [UserID], [Card], [Year], [Month], [Day], [Date], [Time], [AmountUSD], [AmountVND], [UseChip], [MerchantName], [MerchantCity], [MerchantState], [ZipCode], [MCC], [Errors], [IsFraud]) VALUES (60, 0, 0, 2002, 11, 8, CAST(N'2002-08-11' AS Date), CAST(N'06:18:00' AS Time), 122.64, 3121102.39, N'Swipe Transaction', N'-245178307025547046', N'La Verne', N'CA', 91750, 5311, N'\NaN\""', N'No')
GO
SET IDENTITY_INSERT [dbo].[TRANSACTIONS] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_IsFraud]    Script Date: 12/26/2024 12:00:59 AM ******/
CREATE NONCLUSTERED INDEX [IDX_IsFraud] ON [dbo].[TRANSACTIONS]
(
	[IsFraud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_TransactionDate_UserID]    Script Date: 12/26/2024 12:00:59 AM ******/
CREATE NONCLUSTERED INDEX [IDX_TransactionDate_UserID] ON [dbo].[TRANSACTIONS]
(
	[Date] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
